/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

/* .icon-envelope {
    width: 1.3330078125em;
}

.icon-Logo-1 {
    width: 1.7666015625em;
}

.icon-Logo-2 {
    width: 1.7666015625em;
}

.icon-Logo-3 {
    width: 1.7666015625em;
}

.icon-Logo-4 {
    width: 1.7666015625em;
}

.icon-Logo {
    width: 1.7666015625em;
}

.icon-smartphone {
    width: 0.625em;
} */

/* Основные стили для макета и CSS переменные*/

:root {
    /* Шрифт */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* Основной цвет текста */
    --logo-accent-color: #000000;
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --button-color: #188ce8;
    --accent-color: #2196F3;
    --border-bottom-color:#ececec;
    --background-color-white: #FFFFFF;
    --background-color-black: #2F303A;
    --background-color-box: #E5E5E5;
    --background-color-section-team: #F5F4FA;
    --container-bg-2: #EEEEEE;
    --icon-color: #afb1b8;
    --icon-color-hover: #ffffff;
    --form-text-color: rgba(33, 33, 33, 0.2);
    --placeholder-text-color: rgba(117, 117, 117, 0.5);

    /* Основные фоновые цвета */
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --third-background-color: #f5f4fa;
    --header-board-color: #ececec;
    --next-border-color: #eeeeee;
    --footer-background-color: rgba(255, 255, 255, 0.1);
    --background-color-overlay:rgba(33, 150, 243, 0.9);
    --background-thumb: rgba(47, 48, 58, 0.8);
    --backdrop-background-color: rgba(0, 0, 0, 0.2);

    /* Тени */
    --shadow-color-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --shadow-color-portfolio-bt: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    /* Анимация */
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --modal-button-border-close: 1px solid rgba(0, 0, 0, 0.1); 

    /* Рамки */
    --footer-border: rgba(255, 255, 255, 0.3);
    --form-input-border: 1px solid rgba(33, 33, 33, 0.2);
    --border-input: 1px solid #2196f3;
}



/* Основные стили body
body {
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    padding-top: 80px;

    color: var(--primary-text-color);
    background-color: var(--background-color-white);
    outline: 2px solid tomato 
} */

/* Сброс стилей для тегов */
/* h1,
h2,
h3,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
} */

/* Спрятанный тег, который не должен отображаться в браузере */
/* .hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */

/* .section {
    padding-top: 94px; 
    padding-bottom: 94px;
} */

/* Header */

/* .main-nav .list {
    display: flex;
    align-items: center;
} */

/* .container .main-nav {
    display: flex;
    align-items: center;
} */

/* .header .container {
    display: flex;
    height: 80.35px;
    align-items: center;
}

.header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 99;

    background-color: var(--background-color-white);
    border-bottom: 1px solid var(--border-bottom-color);
} */

/* .logo {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;

    color: var(--accent-color);
} */

/* .main-nav .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
} */

/* .logo-accent {
    color: var(--logo-accent-color);
} */

/* .logo-accent-white {
    color: var(--background-color-white);
} */

/* .list {
    list-style: none;
} */

/* .nav-item {
    margin-right: 50px;
}

.nav-item:last-child {
    margin-right: 0;
} */

/* .nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;

    text-decoration: none;

    color: var(--primary-text-color);

    transition: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
} */

/* .current,
.nav-link:hover,
.nav-link:focus,
.header-contact:hover,
.header-contact:focus,
.footer-address:hover,
.footer-address:focus,
.footer-contacts:hover,
.footer-contacts:focus
 {
    color: var(--accent-color);
} */

/* .auth-nav {
    margin-left: auto;

    display: flex;
    align-items: center;
} */

/* .header-items:not(:last-child) {
    margin-right: 30px;
} */

/* .header-contact {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--title-text-color);

    transition: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
} */

/* .header-items {
    display: flex;
    align-items: center;
} */

/* .header-icon {
    fill: currentColor;
    margin-right: 10px;
} */

/* .current {
    position: relative;
}

.current::after {
    position: absolute;
    content: '';
    display: block;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
} */

/* Section hero */

/* .hero {
    background-color: var(--background-color-black);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url('../images/Hero_image.jpg');
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/* .hero-title {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 696px;

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--background-color-white);
} */

/* .hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--background-color-white);
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow);
    padding: 10px 32px;
    border: none;
    border-radius: 4px;

    cursor: pointer;

    transition: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--button-color);
} */

/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-background-color);
    z-index: 100;

    opacity: 1;

    transition: opacity var(--transition-duration) var(--transition-timing-function);
} */

/* .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
} */

/* .backdrop.is-hidden .modal-wrapper {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
} */

/* .modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    width: 528px;
    min-height: 581px;
    padding: 40px;

    background-color: var(--background-color-white);
    box-shadow: var(--shadow-color-box-shadow);
    border-radius: 4px;

    transition: transform var(--transition-duration) var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);
} */

/* .modal-button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 0;
    border: var(--modal-button-border-close);
    border-radius: 50%;
    color: var(--logo-accent-color);
    background-color: var(--background-color-white);
    cursor: pointer;

    transition: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.modal-button-close:hover,
.modal-button-close:focus {
    color: var(--accent-color);
}

.modal-close {
    fill: currentColor;
} */

/* .form-title {
    display: flex;
    justify-content: center;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    
    margin-bottom: 12px;
    
    color: var(--primary-text-color);
} */

/* .form-label {
    display: block;
    margin-bottom: 10px;
    text-align: left;

    color: var(--primary-text-color);
} */

/* .form-label.textarea {
    margin-bottom: 20px;
} */

/* .form-input-headline {
    display: block;
    text-align: left;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin-bottom: 5px;

    color: var(--title-text-color);
} */

/* .form-input {
    display: block;

    width: 100%;
    height: 40px;

    border: var(--form-input-border);
    border-radius: 4px;
    padding: 12px 12px 12px 42px;

    cursor: pointer;

    transition: border var(--transition-duration) var(--transition-timing-function);
} */

/* .form-input-container {
    position: relative;
    display: block;
} */

/* .form-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    fill: currentColor;
    pointer-events: none;

    transition: color var(--transition-duration) var(--transition-timing-function);
} */

/* .form-input:focus,
.form-input:hover,
.form-textarea:focus,
.form-textarea:hover {
    border: 1px solid #2196f3;
    outline: 0;
} */

/* .form-input:focus+.form-icon,
.form-input:hover+.form-icon {
  color: var(--accent-color);
} */


/* .form-textarea {
    width: 100%;
    height: 120px;

    padding: 12px 16px;
    border: var(--form-input-border);
    border-radius: 4px;

    cursor: pointer;

    transition: border var(--transition-duration) var(--transition-timing-function);
} */

/* .form-textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: var(--placeholder-text-color);
} */

/* .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
} */

/* .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

/* .checkbox-icon {
    margin-right: 10px;

    border: 3px solid var(--background-color-black);
    border-radius: 2px;

    transition: var(--transition-duration) var(--transition-timing-function);
} */

/* .checkbox:checked + .checkbox-icon {
    display: inline-block;
    border-color: transparent;
    background-color: #188ce8;
    background-size: contain;
    background-origin: border-box;
} */

/* .checkbox-icon:hover,
.checkbox-icon:focus {
    border-color: #188ce8;
} */

/* .form-terms-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
} */

/* .form-terms-link {
    color: var(--accent-color);
    text-decoration: underline;
} */

/* .form-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    width: 200px;
    height: 50px;

    border: none;
    padding: 10px 0;
    border-radius: 4px;

    cursor: pointer;

    color: var(--background-color-white);
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow);

    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.form-button:hover,
.form-button:focus {
    background-color: var(--button-color);
} */


/* Features */

/* .features.section .list {
    display: flex;
    align-items: center;
} */

/* box */
/* .second-title,
.working-process,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-bottom: 50px;

    color: var(--primary-text-color);
} */

/* .features-item {
    margin-right: 30px;
    width: 270px;
}

.features-item:last-child {
    margin-right: 0;
} */

/* .features-title {
    margin-bottom: 10px;
}

.features-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--primary-text-color);
}

.features-text {
    font-weight: 400;
    line-height: 1.71;

    color: var(--title-text-color)
} */

/* .features-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--third-background-color);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
} */

/* What are we doing */

/* .working {
    padding-bottom: 94px;
} */

/* .working .list {
    display: flex;
} */

/* .working-item {
    position: relative;

    margin-right: 30px;
}

.working-item:last-child {
    margin-right: 0;
} */

/* .working-thumb {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 370px;
    height: 70px;
    background-color: var(--background-thumb);
} */

/* .working-thumb-text {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: var(--background-color-white);
} */

/* section-team */

/* .team {
    background-color: var(--background-color-section-team)
} */

/* .team .list {
    display: flex;
} */

/* .team-items {
    padding: 30px 32px;
} */

/* .employee {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--primary-text-color);
} */

/* .working-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;

    color: var(--title-text-color);
} */

/* .team-item {
    margin-right: 30px;

    background-color: var(--background-color-white);
    box-shadow: var(--shadow-color-box-shadow);
    border-radius: 4px 4px 4px 4px;
} */

/* .team-item:last-child {
    margin-right: 0;
} */

/* .photo-team {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
} */

/* Social icons */

/* .social-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--icon-color);
    background-color: var(--background-color-white);

    transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);
}

.social-icon {
    fill: currentColor;
}

.social-link:hover,
.social-link:focus {
    color: var(--icon-color-hover);
    background-color: var(--button-color);
}

.social-item:not(:last-child) {
    margin-right: 10px;
} */

/* Client section */

/* .clients-link {
    display: flex;
    outline: transparent;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    color: var(--icon-color);

    transition: color var(--transition-duration) var(--transition-timing-function);
}

.clients-link:focus,
.clients-link:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-icon {
    fill: currentColor;
} */

/* .clients-list {
    display: flex;
    align-items: center;
} */

/* .clients-items:not(:last-child) {
    margin-right: 30px;
} */

/* portfolio page button */

/* .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
} */

/* .portfolio-list {
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .portfolio-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

    color: var(--primary-text-color);
} */

/* .pt-button {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    color: var(--primary-text-color);

    transition: background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
} */

/* .primary {
    background-color: var(--accent-color);
    color: var(--background-color-white);
    box-shadow: var(--shadow-color-portfolio-bt);
} */

/* .pt-button:hover,
.pt-button:focus {
    background-color: var(--accent-color);
    color: var(--background-color-white);
    box-shadow: var(--shadow-color-portfolio-bt);
} */

/* .portfolio .cards {
    margin-right: 8px;
}

.portfolio .cards:last-child {
    margin-right: 0;
} */

/* .portfolio-block {
    display: flex;
    flex-wrap: wrap;
} */

/* .portfolio-link {
    display: block;

    text-decoration: none;

    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
} */

/* .portfolio-link:hover,
.portfolio-link:focus {
    background: var(--primary-background-color);
    box-shadow: var(--portfolio-shadow);
} */

/* .portfolio-item {
    width: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
    margin-right: 30px;
    margin-bottom: 0;
}

.portfolio-item:last-child {
    margin-right: 0;
} */

/* .card-thumb {
    position: relative;
    overflow: hidden;
} */

/* .card-thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 63px 24px;
    color: var(--background-color-white);
    background-color: var(--background-color-overlay);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    transform: translateY(101%);
    transition: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.portfolio-link:hover .card-thumb-overlay,
.portfolio-link:focus .card-thumb-overlay {
    transform: translateY(0);
} */

/* .portfolio-projects {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--primary-text-color);
} */

/* .portfolio-description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
} */

/* .portfolio-item .text {
    padding: 20px 24px;
    border-left: 1px solid var(--container-bg-2);
    border-right: 1px solid var(--container-bg-2);
    border-bottom: 1px solid var(--container-bg-2);
} */

/* Footer */

/* .footer {
    background-color: var(--background-color-black);
    padding-top: 60px;
    padding-bottom: 60px;
} */

/* .footer .logo {
    display: inline-block;
    margin-bottom: 20px;
} */

/* .footer-item {
    margin-bottom: 9px;
}

.footer-item:last-child {
    margin-bottom: 0;
} */

/* .footer-address {
    cursor: pointer;
    line-height: 1.71;

    color: var(--background-color-white);

    text-decoration: none;
    font-style: normal;

    transition: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
} */

/* .footer-contacts {
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);

    transition: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
} */

/* .footer-social-container {
    margin-right: auto;
} */

/* .footer-social-caption,
.footer-email {
    display: block;
    
    text-transform: uppercase;
    color: var(--background-color-white);
    margin-bottom: 20px;
} */

/* .footer > .container {
    display: flex;
    align-items: baseline;
} */

/* .footer-address-container {
    margin-right: 70px;
} */

/* .footer-form {
    display: flex;
    align-items: center;
} */

/* .footer-email-button {
    width: 358px;
    min-height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    background-color: var(--background-color-black);
    border: 1px solid var(--footer-border);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    cursor: pointer;
    transition: border var(--transition-duration) var(--transition-timing-function);

    color: var(--background-color-white);
}

.footer-email-button:focus,
.footer-email-button:hover {
    border-color: var(--accent-color);
    outline: 0;
} */

/* .footer-email-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;

    background-color: var(--accent-color);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--background-color-white);

    cursor: pointer;

    transition: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.footer-email-link:hover,
.footer-email-link:focus {
    background-color: var(--button-color);
} */

/* .footer-telegram-icon {
    fill: currentColor;
    margin-left: 10px;
} */

/* .footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    color: var(--icon-color-hover);
    background-color: var(--footer-background-color);

    transition: background-color var(--transition-duration) var(--transition-timing-function);
} */

/* .footer-social-icon {
    fill: currentColor;
} */

/* .footer-social-link:hover,
.footer-social-link:focus {
    color: var(--icon-color-hover);
    background-color: var(--button-color);
} */

/* .footer-social-item:not(:last-child) {
    margin-right: 10px;
} */