.clients__list {
    display: flex;
    align-items: center;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__link {
    display: flex;
    outline: transparent;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;

    border: 1px solid $icon-color;
    border-radius: 4px;

    color: $icon-color;

    transition: color $transition-duration $transition-timing-function,
    border-color $transition-duration $transition-timing-function;

    &:focus,
    &:hover {
    color: $accent-color;
    border-color: $accent-color;
    }
}

.clients__icon {
    fill: currentColor;
}

