.hobbies {
    display: none;

    @include mq(desktop) {
    display: block;
    padding-bottom: 94px;
    }
}

.hobbies__list {
    @include mq(desktop) {
    display: flex;
    }
}

.hobbies__item {
    @include mq(desktop) {
    position: relative;

    margin-right: 30px;
    
    &:last-child {
    margin-right: 0;
    }
  }
}    

.hobbies__thumb {
    @include mq(desktop) {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 370px;
    height: 70px;
    background-color: $background-thumb;
    }
}

.hobbies__thumb-paragraph {
    @include mq(desktop) {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: $background-color-white;
    }
}