.filter__list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 40px;

    @include mq(tablet) {
        align-items: center;
        justify-content: center;

        margin-bottom: 30px;
    }

    @include mq(desktop) {
        margin-bottom: 50px;
    }
}    

.filter__item:not(:last-child) {
    margin-right: 8px;

    @include mq(mobile-only) {
        margin-bottom: 8px;
    }
}

.filter__btn {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    color: $primary-text-color;

    transition: background-color $transition-duration $transition-timing-function,
    color $transition-duration $transition-timing-function,
    box-shadow $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $background-color-white;
        box-shadow: $shadow-color-portfolio-bt;
    }
    
    &--active {
    background-color: $accent-color;
    color: $background-color-white;
    box-shadow: $shadow-color-portfolio-bt;
    }
}

