.logo {
    text-decoration: none;
    font-family: $secondary-font;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;

    color: $accent-color;

    @include mq(desktop) {
        font-size: 26px;
        line-height: 1.19;
    }
}